.views-isotope ul {
  margin: 0;
  padding: 0;
}

.views-isotope li {
  display: block;
  margin: 0;
  padding: 0 0 5px 0;
  list-style: none;
  background: transparent url(shadow-100-short.png) bottom center no-repeat;;
}

.views-isotope li div.item {
  width: 80px;
  height: 80px;
  margin: 5px;
  padding: 10px;
  border: 2px solid #c6c6c6;
  
  font-size: 0.9em;
  line-height: 1.3em;
  
  background: #e2e2e2; /* old browsers */
  background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* ie */
  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  
}

.views-isotope li div.item:hover {
  background: #f2f6f8; /* old browsers */
  background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* ie */
}

.views-isotope li div.item .views-field-field-image-fid {
  float: right;
  margin-left: 5px;
}

.views-isotope li div.item img.imagecache-small {
  display: block;
  float: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.views-isotope li.red div.item {
  border-color: #f00;
}

.views-isotope li.green div.item {
  border-color: #0f0;
}

.views-isotope li.blue div.item {
  border-color: #00f;
}


/* CSS3 Animations
--------------------------------------------- */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}